.graph{

    width:50vw;
    height:50%;
    min-width:390px;
    max-width:390px;
    margin-top:-40px;
    padding:40px;
}
.graph3{
    width:100vw;
    height:50%;
    min-width:700px;
    max-width:700px;
    padding:40px;
}
body {
    background:ghostwhite;
    text-align: center;
    font-family:sans-serif;
}

.charts td, .heading{
    padding:10px;
    background:white;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: black;
}
.charts th{
    padding: 10px;
    font-size:1.2rem;
}

.right{
    width:200px;
    font-weight:700;
    text-align:right;
}

.left{
    text-align:left;
}

.charts h2{
    padding: 0px;
}